*{margin: unset}
body{
    background-color: black;
}
.header-container{

}
.tittle {
    width: 192px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 3px;
    border-color: #00000000;
    background: rgba(255, 255, 255, 0.60);
    color: rgba(33, 33, 33, 0.70);
    position: relative;
    font-family: Montserrat;
    font-size: 18.22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.number { 
    width: 64px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 3px;
    border-color: #00000000;
    background: rgba(255, 255, 255, 0.60); 
    color: rgba(33, 33, 33, 0.70);
    text-align: center;
    font-family: Montserrat;
    font-size: 18.22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.todo-container { 
    width: 438px;
    height: 653px;
    flex-shrink: 0;
    border-radius: 30px;
    background: linear-gradient(112deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.10) 73.15%);
    box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(7.5px);
}
.button-add{
    width: 101px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid var(--Gold, #FFD700); 
    color: #FFD700;
    cursor: pointer;
    color: #FFD700;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header {color: rgba(255, 255, 255, 0.80);
    margin-top:19px;
    text-align: center;
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
